<?xml version="1.0" encoding="UTF-8"?>
<wcs:Capabilities xmlns:wcs="http://www.opengis.net/wcs/2.0"
  xmlns:wcscrs="http://www.opengis.net/wcs/crs/1.0"
  xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:ows="http://www.opengis.net/ows/2.0"
  xmlns:inspire_dls="http://inspire.ec.europa.eu/schemas/inspire_dls/1.0"
  xmlns:inspire_common="http://inspire.ec.europa.eu/schemas/common/1.0"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  version="<TMPL_var version>"
  xsi:schemaLocation="http://www.opengis.net/wcs/2.0 http://schemas.opengis.net/wcs/2.0/wcsAll.xsd
  http://www.opengis.net/wcs/crs/1.0 http://schemas.opengis.net/wcs/crs/1.0/wcsCrs.xsd
  http://www.opengis.net/ows/2.0 http://schemas.opengis.net/ows/2.0/owsAll.xsd
  http://inspire.ec.europa.eu/schemas/inspire_dls/1.0 http://inspire.ec.europa.eu/schemas/inspire_dls/1.0/inspire_dls.xsd
  http://inspire.ec.europa.eu/schemas/common/1.0 http://inspire.ec.europa.eu/schemas/common/1.0/common.xsd">

  <TMPL_if DEFINED(Capabilities)><TMPL_if DEFINED(Capabilities.ServiceIdentification)><ows:ServiceIdentification><TMPL_if DEFINED(Capabilities.ServiceIdentification.Title)>
    <ows:Title><TMPL_var Capabilities.ServiceIdentification.Title></ows:Title></TMPL_if><TMPL_if DEFINED(Capabilities.ServiceIdentification.Abstract)>
    <ows:Abstract>
      <TMPL_var Capabilities.ServiceIdentification.Abstract>
    </ows:Abstract></TMPL_if><TMPL_if (DEFINED(Capabilities.ServiceIdentification.Keywords) && DEFINED(Capabilities.ServiceIdentification.Keywords.Keyword))>
    <ows:Keywords><TMPL_foreach Capabilities.ServiceIdentification.Keywords.Keyword as keyword>
      <ows:Keyword><TMPL_var keyword[0]></ows:Keyword></TMPL_foreach><TMPL_if DEFINED(Capabilities.ServiceIdentification.Keywords.Type)>
      <ows:Type><TMPL_var Capabilities.ServiceIdentification.Keywords.Type></ows:Type></TMPL_if>
    </ows:Keywords></TMPL_if>
    <ows:ServiceType>WCS</ows:ServiceType>
    <ows:ServiceTypeVersion><TMPL_var version></ows:ServiceTypeVersion>
    <ows:Fees><TMPL_if DEFINED(Capabilities.ServiceIdentification.Fees)>
      <TMPL_var Capabilities.ServiceIdentification.Fees></TMPL_if>
    </ows:Fees><TMPL_if DEFINED(Capabilities.ServiceIdentification.AccessConstraints)>
    <ows:AccessConstraints><TMPL_var Capabilities.ServiceIdentification.AccessConstraints>
    </ows:AccessConstraints></TMPL_if>
  </ows:ServiceIdentification></TMPL_if></TMPL_if>
  <TMPL_if (DEFINED(Capabilities.ServiceProvider) && DEFINED(Capabilities.ServiceProvider.ProviderName))><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact)><ows:ServiceProvider>
    <ows:ProviderName><TMPL_var Capabilities.ServiceProvider.ProviderName></ows:ProviderName>
    <TMPL_if DEFINED(Capabilities.ServiceProvider.ProviderSite)><TMPL_if DEFINED(Capabilities.ServiceProvider.ProviderSite.href)><ows:ProviderSite xlink:href="<TMPL_var Capabilities.ServiceProvider.ProviderSite.href>"/></TMPL_if></TMPL_if>
    <ows:ServiceContact>
      <TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo)><ows:ContactInfo><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone)>
        <ows:Phone><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone.Voice)>
          <ows:Voice><TMPL_var Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone.Voice></ows:Voice></TMPL_if><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone.Facsimile)>
          <ows:Facsimile><TMPL_var Capabilities.ServiceProvider.ServiceContact.ContactInfo.Phone.Facsimile></ows:Facsimile></TMPL_if>
        </ows:Phone></TMPL_if><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address)>
        <ows:Address><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.DeliveryPoint)>
          <ows:DeliveryPoint><TMPL_var Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.DeliveryPoint></ows:DeliveryPoint></TMPL_if><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.City)>
          <ows:City><TMPL_var Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.City></ows:City></TMPL_if><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.AdministrativeArea)>
          <ows:AdministrativeArea><TMPL_var Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.AdministrativeArea></ows:AdministrativeArea></TMPL_if><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.PostalCode)>
          <ows:PostalCode><TMPL_var Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.PostalCode></ows:PostalCode></TMPL_if><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.Country)>
          <ows:Country><TMPL_var Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.Country></ows:Country></TMPL_if><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.ElectronicMailAddress)>
          <ows:ElectronicMailAddress><TMPL_var Capabilities.ServiceProvider.ServiceContact.ContactInfo.Address.ElectronicMailAddress></ows:ElectronicMailAddress></TMPL_if>
        </ows:Address></TMPL_if><TMPL_if (DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.OnlineResource) && DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.OnlineResource.href))>

        <ows:OnlineResource xlink:href="<TMPL_var Capabilities.ServiceProvider.ServiceContact.ContactInfo.OnlineResource.href>"/></TMPL_if><TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.ContactInfo.ContactInstructions)>
        <ows:ContactInstructions>

          <TMPL_var Capabilities.ServiceProvider.ServiceContact.ContactInfo.ContactInstructions>

        </ows:ContactInstructions></TMPL_if>
      </ows:ContactInfo></TMPL_if>
      <TMPL_if DEFINED(Capabilities.ServiceProvider.ServiceContact.Role)><ows:Role><TMPL_var Capabilities.ServiceProvider.ServiceContact.Role></ows:Role></TMPL_if>
    </ows:ServiceContact>
  </ows:ServiceProvider></TMPL_if></TMPL_if><TMPL_if (DEFINED(operation.GetCapabilities) && DEFINED(operation.DescribeCoverage))>
  <ows:OperationsMetadata>
    <ows:Operation name="GetCapabilities">
      <ows:DCP>
        <ows:HTTP>
          <ows:Get xlink:href="http://<TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/wcs"/>
          <ows:Post xlink:href="http://<TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/wcs"/>
        </ows:HTTP>
      </ows:DCP>
      <ows:Parameter name="AcceptVersions">
        <ows:AllowedValues><TMPL_foreach versions as version>
          <ows:Value><TMPL_var version></ows:Value></TMPL_foreach>
        </ows:AllowedValues>
      </ows:Parameter>
      <ows:Parameter name="AcceptLanguages">
        <ows:AllowedValues><TMPL_foreach languages as language>
          <ows:Value><TMPL_var language></ows:Value></TMPL_foreach>
        </ows:AllowedValues>
      </ows:Parameter>
    </ows:Operation>
    <ows:Operation name="DescribeCoverage">
      <ows:DCP>
        <ows:HTTP>
          <ows:Get xlink:href="http://<TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/wcs"/>
          <ows:Post xlink:href="http://<TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/wcs"/>
        </ows:HTTP>
      </ows:DCP>
    </ows:Operation><TMPL_if (defined(operation.GetCoverage))>
    <ows:Operation name="GetCoverage">
      <ows:DCP>
        <ows:HTTP>
          <ows:Get xlink:href="http://<TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/wcs"/>
          <ows:Post xlink:href="http://<TMPL_var hostname><TMPL_var fmi_apikey_prefix><TMPL_var fmi_apikey>/wcs"/>
        </ows:HTTP>
      </ows:DCP>
    </ows:Operation></TMPL_if><TMPL_if DEFINED(dataSetIds)>
    <ows:ExtendedCapabilities>
      <inspire_dls:ExtendedCapabilities>
        <inspire_common:MetadataUrl>
          <inspire_common:URL><TMPL_var csw_uri>/<TMPL_var csw_language>/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;ID=9fec2667-ccdd-431b-99e0-fd2ed5de4ca1&amp;outputSchema=http://www.isotc211.org/2005/gmd&amp;elementSetName=full</inspire_common:URL>
          <inspire_common:MediaType>application/gml+xml</inspire_common:MediaType>
        </inspire_common:MetadataUrl>
        <!-- Language support -->
        <inspire_common:SupportedLanguages>
          <inspire_common:DefaultLanguage>
            <inspire_common:Language><TMPL_var csw_language></inspire_common:Language>
          </inspire_common:DefaultLanguage><TMPL_foreach csw_languages as csw_language>
          <inspire_common:SupportedLanguage>
            <inspire_common:Language><TMPL_var csw_language></inspire_common:Language>
          </inspire_common:SupportedLanguage></TMPL_foreach>
        </inspire_common:SupportedLanguages>
        <!-- The language of this response document: -->
        <inspire_common:ResponseLanguage>
          <inspire_common:Language><TMPL_var language></inspire_common:Language>
        </inspire_common:ResponseLanguage><TMPL_foreach dataSetIds as item>
        <inspire_dls:SpatialDataSetIdentifier<TMPL_if item.uuid>  metadataURL="<TMPL_var csw_uri>/<TMPL_var csw_language>/csw?SERVICE=CSW&amp;VERSION=2.0.2&amp;REQUEST=GetRecordById&amp;&amp;outputSchema=http://www.isotc211.org/2005/gmd&amp;elementSetName=full&amp;ID=<TMPL_var item.uuid>"</TMPL_if>>
          <inspire_common:Code><TMPL_var item.id></inspire_common:Code>
          <inspire_common:Namespace><TMPL_var item.ns></inspire_common:Namespace>
        </inspire_dls:SpatialDataSetIdentifier></TMPL_foreach>
      </inspire_dls:ExtendedCapabilities>
    </ows:ExtendedCapabilities></TMPL_if>
  </ows:OperationsMetadata></TMPL_if>
  <ows:Languages>
    <TMPL_foreach languages AS language><ows:Language><TMPL_var language></ows:Language>
  </TMPL_foreach>
  </ows:Languages><TMPL_if DEFINED(operation.GetCoverage)><TMPL_if DEFINED(formats[0])>
  <wcs:ServiceMetadata><TMPL_foreach formats as format>
    <wcs:formatSupported><TMPL_var format></wcs:formatSupported></TMPL_foreach><TMPL_if DEFINED(supported_crss)>
    <wcs:Extension><TMPL_foreach supported_crss AS crs>
      <wcscrs:supportedCrs><TMPL_var crs></wcscrs:supportedCrs></TMPL_foreach>
    </wcs:Extension></TMPL_if>
  </wcs:ServiceMetadata></TMPL_if>
  <wcs:Contents><TMPL_if (defined(operation.DescribeCoverage))><TMPL_foreach dataSets as dataset>
    <wcs:CoverageSummary><TMPL_if DEFINED(dataset.title)>
      <ows:Title><TMPL_var dataset.title></ows:Title></TMPL_if><TMPL_if DEFINED(dataset.abstract)>
      <ows:Abstract><TMPL_var dataset.abstract></ows:Abstract></TMPL_if><TMPL_if DEFINED(dataset.keywords)>
      <ows:Keywords><TMPL_foreach dataset.keywords as keyword>
        <ows:Keyword><TMPL_var keyword></ows:Keyword></TMPL_foreach>
        <ows:Type>string</ows:Type>
      </ows:Keywords></TMPL_if><TMPL_if DEFINED(dataset.wgs84BBox)>
      <ows:WGS84BoundingBox crs="http://www.opengis.net/def/crs/EPSG/0/4326" dimensions="2">
        <ows:LowerCorner><TMPL_var wgs84BBox.lc[0]> <TMPL_var wgs84BBox.lc[1]></ows:LowerCorner>
        <ows:UpperCorner><TMPL_var wgs84BBox.uc[0]> <TMPL_var wgs84BBox.uc[1]></ows:UpperCorner>
      </ows:WGS84BoundingBox></TMPL_if>
      <wcs:CoverageId><TMPL_var dataset.coverage_id></wcs:CoverageId>
      <wcs:CoverageSubtype><TMPL_var dataset.subtype></wcs:CoverageSubtype>
    </wcs:CoverageSummary></TMPL_foreach></TMPL_if>
  </wcs:Contents></TMPL_if>
</wcs:Capabilities>
