<TMPL_foreach mURL as url><TMPL_if IN_SET(url[0].key,"schema")><TMPL_var url[0].value>://</TMPL_if><TMPL_if IN_SET(url[0].key,"host")><TMPL_var url[0].value></TMPL_if><TMPL_if IN_SET(url[0].key,"path")><TMPL_var url[0].value></TMPL_if><TMPL_if IN_SET(url[0].key,"query")>?<TMPL_foreach url[0].value as query><TMPL_var query[0].key>=<TMPL_if (IN_SET(query[0].key,"ID") && DEFINED(item.uuid))><TMPL_var item.uuid>&amp;<TMPL_elsif (IN_SET(query[0].key,"constraint") && DEFINED(item.id))>ResourceIdentifier=%27<TMPL_var item.id>%27&amp;<TMPL_else><TMPL_var query[0].value>&amp;</TMPL_if></TMPL_foreach></TMPL_if></TMPL_foreach>